[submodule "excercises/AddressBook/openzeppelin-contracts"]
	path = excercises/AddressBook/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "excercises/BasicToken/lib/forge-std"]
	path = excercises/BasicToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
